@page "/submission/view/{id:int}"
@using frontend_quiz.DTOs
@using frontend_quiz.Services
@inject SubmissionService Submission
@inject AuthService AuthService
@inject NavigationManager NavigationManager
@inject QuestionService questionService

@if (!_isAuthenticated)
{
    <div class="alert alert-warning">
        Vui lòng <a href="/login">đăng nhập</a> để xem nội dung bài kiểm tra.
    </div>
}
else if (!_isStudent)
{
    <div class="alert alert-danger">
        Bạn không có quyền truy cập trang này.
    </div>
}
else
{
    <h3>Chọn câu trả lời cho từng câu hỏi</h3>
    if (_submission == null)
    {
        <p>Đang tải dữ liệu...</p>
    }
    else
    {
        <div class="card my-3">
            <div class="card-body">
                <h4><strong>Bài thi số :</strong>@_submission.SubmissionId</h4>
                <p><strong>Người thi:</strong> @_submission.UserId</p>
            </div>
        </div>
        @if (_submission.UserAnswers != null && _submission.UserAnswers.Any())
        {
            int questionNumber = 1;
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Danh sách câu hỏi</h5>
                    <div class="list-group">
                        @foreach (var userAnswerDto in _submission.UserAnswers)
                        {
                            <div class="mb-4 p-3 border rounded bg-light">
                                <h5>@userAnswerDto.Question.Content</h5>
                                <ul>
                                    @foreach (var answer in userAnswerDto.Question.Answers)
                                    {
                                        <li>
                                            <label class="d-flex justify-content-between align-items-center">
                                                @answer.Content
                                                <input type="radio"
                                                       name="question-@userAnswerDto.Question.Id"
                                                       value="@answer.AnswerId" />
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        <button class="btn btn-primary" >Click me</button>
                    </div>
                </div>
            </div>
        }
    }
}

@code {
    [Parameter] public int id { get; set; }

    private SubmissionDto? _submission;
    private bool _isStudent;
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await AuthService.IsAuthenticated();

        if (!_isAuthenticated) return;

        _isStudent = await AuthService.IsStudent();

        if (!_isStudent)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        _submission = await Submission.GetSubmissionByIdAsync(id);
    }
    
}